.container {
  box-sizing: border-box;
  align-items: center;
  margin: 50px auto;
  max-width: 1000px;
  min-height: 580px;
  max-height: 600px;
  width: 70%;
  background-color: aquamarine;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}

.items {
  margin: 0px 0px;
  display: flex;
  justify-content: space-between;
}

.content {
  margin: 30px 70px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 320px;
  }
  .items{
    display: block;
  }
  .content{
    margin: 10px 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    box-sizing: border-box;
    align-items: center;
    margin: 150px auto;
    width: 600px;
    max-width: 1000px;
    min-height: 580px;
    max-height: 600px;
    background-color: aquamarine;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    overflow: hidden;
  }
  
  .items {
    margin: 0px 0px;
    display: flex;
    justify-content: space-between;
  }
  
  .content {
    margin: 10px 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container{
    width: 70%;
    margin: 70px auto;
  }
  .content{
    margin: 30px 70px; 
  }
}
