.header_title{
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: fit-content;
    margin: 0px auto;
    color: black;
}

.title{
    font-size: 30px;
    font-weight: 600;
    margin-left: 50px;
}

@media only screen and (max-width: 600px){
    .title{
        margin-left: 0px;
    }
}